/* Typography */
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf"); /* IE9 Compat Modes */
}
