header {
  padding-top: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 150px;
      height: auto;
      margin-top: 6px;
    }

    &__list {
      text-align: left;
      list-style: none;
      margin-top: 1.0em;
      align-self: flex-start;

      &__item {
        text-align: left;
        margin-top: 0.82em;
      }
    }

    &__list--hidden {
      display: none;
    }
    &__hamburger {
      position: absolute;
      top: 8px;
      right: 0px;
      left: 0px;
      bottom: 0px;
    }
  }
}
