
// *****************
// COLOR VARIABLES
// *****************
$youngPurple:#303a52;
$youngBlue:#574f90;
$shamrock: #2CD4AE; //Shamrock Green used for text links and headers
$turquoise: #4FE3C0; //buttons and in gradient
$celadon: #99E09C; //older green used in gradient
$mineShaft: #303030; //black used in text headers
$coal: #727272; //lighter black shade for supporting text
$alabaster: #F9F9F9; //nuetral used in large blocks
$gray: #E5E5E5; //used for lines and small accents


// *****************
// BREAKPOINTS
// *****************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;


// *****************
// FONTS VARIANTS
// *****************
$font-light: "OpenSans Light", sans-serif;
$font-medium: "OpenSans Medium", sans-serif ;
$font-regular: "OpenSans Regular", sans-serif ;
$font-bold: "OpenSans Bold", sans-serif ;
